{% extends 'base.html' %}
{% block content %}
    {% if users %}
        {% for user in users %}
            {% if user.jots %}
                <ul class = "list-group">
                    {% for jot in user.jots %}
                        {% if user.avatar %}


                        {% endif %}


                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                {% if user.avatar %}
                                    <img class = "media-object center-block" style = "width:60px " src="{{url_for('static',filename=user.avatar)}}"></img>
                                    
                                {% endif %}
                                <div class = "text-center" style="width:80px">
                                    <strong>
                                        {{user.username}}<br>
                                        {{jot.time_formatted()}}<br>
                                        {{jot.date_formatted()}}
                                    </strong>

                                </div>
                            </div>
                            <div class=media-body>

                                {{jot.text}}

                            </div>
                        </div>
                       
                       
                    </li>
                    {% endfor %}

                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}
