{% extends 'base.html' %}
{% block content %}
<form action="{{url_for('forgot_password')}}" method="post" name=forgot_password" class="form-inline">
    <div class="form-group">
    {{form.csrf_token}}
    Please enter your email address and a link to change your password will be sent to you. It will only be valid for one hour. <br>
    {{form.email(class="form-control")}}<br>
    {% for error in form.email.errors %}<em>{{error}}</em><br>{%endfor%}
<input type="submit" value = "Help me!">
    </div>
</form>

{% endblock %}
