{% from 'macros.html' import display_jot %}
{% extends "base.html" %}
{% block content %}

<form action="{{url_for('new_jot')}}" method="post" name="new_jot">
<div class="form-group">
    {{form.csrf_token}}
    {{form.id}}

    Jot down your secret thoughts:

    {{form.text(class="form-control",maxlength=140)}}<br>
    <input type="submit" value="Jot!">

</div>
</form>
<script src="{{url_for('static',filename='bootstrap-maxlength.js')}}"></script>
<script>
$(document).ready(function () {
            $('textarea#text').maxlength({
                alwaysShow: true
            });

            hljs.initHighlightingOnLoad();

        });
</script>

{% endblock %}
